.banner {
  height: 700px;
  width: 100%;
  background-image: url("../public/images/banner.png");
  background-size: cover;
  background-position: center;
}

.bannerOpacity {
  height: 100%;
  width: 100%;
  background-color: rgba(10, 25, 54, 0.4);
}
