@import url("../public/styles.css");

.banner {
  height: 700px;
  width: 100%;
  background-image: url("../public/images/banner.png");
  background-size: cover;
  background-position: center;
}

.bannerOpacity {
  height: 100%;
  width: 100%;
  background-color: #231f1bd5;
}
.chemin-cours {
  position: absolute;
  top: 200px;
  left: 10%;
  color: white;
  font-weight: bolder !important;
  gap: 10px;
}
.chemin-cours h4:first-child {
  color: var(--baseColor);
  font-weight: bolder !important;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 32px;
}
.chemin-cours h4:last-child {
  position: relative;
  font-size: 36px;
  top: 5px;
}
.chemin-cours h5 {
  margin: 30px 0;
  font-weight: 300;
  font-size: 46px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  section.about {
    height: 1200px;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */

  }

  section.about h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2% 0;
  }

  .about .aboutContainer {
    width: 80%;
    height: 97%;
    margin: 0 auto;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    gap: 3%;
    justify-content: center;
  }

  .aboutContainerImage {
    /* border: 2px solid; */
    border-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1573235781593-0094b20e59d2?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvZGUlMjBvcmFuZ2V8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    height: 50%;
  }

  .aboutContainerDescription {
    padding: 12px;
    /* border: 2px solid; */
    border-radius: 20px;
    display: flex;
    font-size: var(--defaulFontSize);
    justify-content: center;
    align-items: center;
    background-color: var(--secondColor);
    color: black;
    font-size: 1.1rem;
    height: 50%;
  }

  section.service {
    height: 5000px;
    border: 2px solid white;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background-color: rgba(255, 255, 255, 0.616);
  }

  section.service h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2% 0;
  }

  .service .serviceItems {
    /* border: solid 1px ; */
    height: 98%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 40px;
  }

  .serviceItem {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 53% 45%;
    gap: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.27);
  
  }

  .serviceItemImage {
    /* border: 1px solid; */
    background-image: url("https://images.unsplash.com/photo-1624996752380-8ec242e0f85d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRldiUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D");
  
  }

  

  .serviceItemTitle {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 20% 79%;
    gap: 5px;
  }

  .serviceItemTitle .title {
    /* border: 1px solid; */
    font-size: 1rem;
    font-weight: var(--titreSectionGraisse);
    color: var(--baseColor);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 5px;
  }

  .serviceItemTitle .detail {
    /* border: 1px solid; */
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
  }

  section.team {
    height: 2500px;
    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid white;
  }

  section.team h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin-bottom: 6%;
  }

  .team .teamItems {
    /* border: solid 1px ; */
    height: 97%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
  }

  .teamItem {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 80% 20%;
    gap: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.27);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .teamItemImage {
    /* border: 1px solid; */
    background-image: url("https://images.unsplash.com/photo-1624996752380-8ec242e0f85d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRldiUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-position-x: center;
    background-size: cover;
  }

  .teamItemTitle {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 20% 79%;
    gap: 5px;
  }

  .teamItemTitle .title {
    /* border: 1px solid; */
    font-size: 1.5rem;
    font-weight: var(--titreSectionGraisse);
    color: var(--baseColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
  }

  .teamItemTitle .detail {
    /* border: 1px solid; */
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  section.temoignage {
    margin-bottom: 5%;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.616);
  }

  section.temoignage h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin-top: 2.5%;
  }

  .temoignage .carte {
    display: flex;
    /* border: 1px solid; */
    width: 80%;
    margin: 0 auto;
  }
  .temoignage .carte img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .temoignage .card-body {
    background-color: var(--secondColor);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .temoignage .card-body h5 {
    text-align: center;
    font-weight: var(--titreSectionGraisse);
  }
  .temoignage .card {
    width: 100%;
    border: 1px solid black;
    border-radius: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section.about {
    height: 1000px;
    /* border: 2px solid; */
  }

  section.about h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2% 0;
  }

  .about .aboutContainer {
    width: 60%;
    height: 83%;
    margin: 0 auto;
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }

  .aboutContainerImage {
    /* border: 2px solid; */
    border-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1573235781593-0094b20e59d2?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvZGUlMjBvcmFuZ2V8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    /* height: 50%; */
  }

  .aboutContainerDescription {
    padding: 12px;
    /* border: 2px solid; */
    border-radius: 20px;
    display: flex;
    font-size: var(--defaulFontSize);
    justify-content: center;
    align-items: center;
    background-color: var(--secondColor);
    color: black;
    font-size: 1.3rem;
    /* height: 50%; */
  }

  section.service {
    height: 3500px;
    /* border: 2px solid; */
    /* display: flex;
        flex-direction: column;
        justify-content: center; */
    background-color: rgba(255, 255, 255, 0.616);
  }

  section.service h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2% 0;
  }

  .service .serviceItems {
    /* border: solid 1px ; */
    height: 98%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 40px;
  }

  .serviceItem {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.27);
    /* border-top-left-radius: 20px;
        border-top-right-radius: 20px; */
  }

  .serviceItemImage {
    /* border: 1px solid; */
    background-image: url("https://images.unsplash.com/photo-1624996752380-8ec242e0f85d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRldiUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D");
    /* border-top-left-radius: 20px;
        border-top-right-radius: 20px; */
  }

  .serviceItemTitle {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 20% 79%;
    gap: 5px;
  }

  .serviceItemTitle .title {
    /* border: 1px solid; */
    font-size: 1rem;
    font-weight: var(--titreSectionGraisse);
    color: var(--baseColor);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 5px;
  }

  .serviceItemTitle .detail {
    /* border: 1px solid; */
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
  }

  section.team {
    height: 2500px;
    background-color: rgba(255, 255, 255, 0.616);
  }

  section.team h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2% 0;
  }

  .team .teamItems {
    /* border: solid 1px ; */
    height: 90%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
  }

  .teamItem {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 80% 20%;
    gap: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.27);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .teamItemImage {
    /* border: 1px solid; */
    background-image: url("https://images.unsplash.com/photo-1624996752380-8ec242e0f85d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRldiUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D");
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    background-position-x: center;
    background-size: cover;
  }

  .teamItemTitle {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 20% 79%;
    gap: 5px;
  }

  .teamItemTitle .title {
    /* border: 1px solid; */
    font-size: 1.5rem;
    font-weight: var(--titreSectionGraisse);
    color: var(--baseColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
  }

  .teamItemTitle .detail {
    /* border: 1px solid; */
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  section.temoignage {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.616);
  }

  section.temoignage h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2% 0;
  }

  .temoignage .carte {
    padding: 20px;
    margin: 20px;
    margin-left: 78px;
  }
  .temoignage .carte img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .temoignage .card-body {
    background-color: var(--secondColor);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .temoignage .card-body h5 {
    text-align: center;
    font-weight: var(--titreSectionGraisse);
  }
  .temoignage .card {
    width: 80%;
    border: 1px solid black;
    border-radius: 25px;
  }
}
/* ----------------------❌❌❌❌❌------------------ */
@media screen and (min-width: 1024px) {
  section.about {
    height: 700px;
    border: 2px solid white;
  }

  section.about h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2.5% 0;
  }

  .about .aboutContainer {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
  }

  .aboutContainerImage {
    /* border: 2px solid; */
    border-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1573235781593-0094b20e59d2?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvZGUlMjBvcmFuZ2V8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    /* height: 50%; */
  }

  .aboutContainerDescription {
    padding: 12px;
    /* border: 2px solid; */
    border-radius: 20px;
    display: flex;
    font-size: var(--defaulFontSize);
    justify-content: center;
    align-items: center;
    background-color: var(--secondColor);
    color: var(--zeus);
    font-size: 1.3rem;
    text-align: justify;
    /* height: 50%; */
  }

  section.service {
    height: 2500px;
    border: 2px solid white;
    /* display: flex;
        flex-direction: column;
        justify-content: center; */
    background-color: rgba(255, 255, 255, 0.616);
  }

  section.service h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2.5% 0;
  }

  .service .serviceItems {
    /* border: solid 1px ; */
    height: 94.4%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 40px;
  }

  .serviceItem {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.27);
    /* border-top-left-radius: 20px;
        border-top-right-radius: 20px; */
  }

  .serviceItem.items2 {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.27);
    /* border-top-left-radius: 20px;
        border-top-right-radius: 20px; */
  }

  .serviceItemImage {
    /* border: 1px solid; */
    background-image: url("https://images.unsplash.com/photo-1624996752380-8ec242e0f85d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRldiUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D");
    /* border-top-left-radius: 20px;
        border-top-right-radius: 20px; */
  }

  .serviceItemTitle {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 20% 79%;
    gap: 5px;
  }

  .serviceItemTitle .title {
    /* border: 1px solid; */
    font-size: 1.5rem;
    font-weight: var(--titreSectionGraisse);
    color: var(--baseColor);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 5px;
  }

  .serviceItemTitle .detail {
    /* border: 1px solid; */
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
  }

  section.team {
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    height: 700px;
    background-color: rgba(255, 255, 255, 0.616);
    border: 2px solid white;
  }

  section.team h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin: 2.5% 0;
  }

  .team .teamItems {
    /* border: solid 1px ; */
    height: 80%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .teamItem {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 80% 20%;
    gap: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.27);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .teamItemImage {
    /* border: 1px solid; */
    background-image: url("https://images.unsplash.com/photo-1624996752380-8ec242e0f85d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRldiUyMHdlYnxlbnwwfHwwfHx8MA%3D%3D");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-position-x: center;
    background-size: cover;
  }

  .teamItemTitle {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 20% 79%;
    gap: 5px;
  }

  .teamItemTitle .title {
    /* border: 1px solid; */
    font-size: 1.5rem;
    font-weight: var(--titreSectionGraisse);
    color: var(--baseColor);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
  }

  .teamItemTitle .detail {
    /* border: 1px solid; */
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  section.temoignage {
    /* margin-top: 5%; */
    margin-bottom: 5%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid white;
  }

  section.temoignage h1 {
    text-align: center;
    font-size: var(--titreSectionSize);
    font-weight: var(--titreSectionGraisse);
    margin-top: 2.5%;
  }

  .temoignage .carte {
    padding: 20px;
    margin: 20px;
    margin-left: 78px;
  }
  .temoignage .carte img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .temoignage .card-body {
    background-color: var(--secondColor);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .temoignage .card-body h5 {
    text-align: center;
    font-weight: var(--titreSectionGraisse);
  }
  .temoignage .card {
    width: 80%;
    border: 1px solid wh;
    border-radius: 25px;
  }
}
